*{
    background-color: blueviolet;
}

header{
    border: solid 15px pink
    height: 200;
}
    h1{
        text-align: center;
        color: tomato;
    }

    a{
        color: yellow;
        text-decoration: none;
    }


    ]
    nav {
        border: solid 7px pink;
    }

    nav {
        text-align: center;
        border: solid 7px red;

    }
    div{
    p{
        font-size=34px;
    }

    }
    
    .warhol{
        width: 300px;
    }

    button{
        padding: 30px;
        margin: 0ch;
    }